table.tablesorter tr td:last-child {
    text-align: center;
	padding: 8px 15px;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
}

table.tablesorter tr td {
    text-align: center;
	padding: 8px 15px;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
}

table.tablesorter tr th:last-child {
	padding: 8px 15px;
	border-top: 1px solid #666666;
	border-right: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
}

table.tablesorter tr th {
	padding: 8px 15px;
	border-top: 1px solid #666666;
	border-bottom: 1px solid #666666;
	border-left: 1px solid #666666;
}

table.tablesorter {
    border-spacing: 0px;
}